* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(assets/ProximaNova/ProximaNova-Regular_2607783814[2339].otf);
}

:root {
--primarycolor: #F7A100;
--secondarycolor: white;
--primary-text-color: #333333;
--secundary-text-color: white;
--footer-color: #CCCCCC;
--border-radius-house: 1.5em;
--border-radius-buttons: 10px;
--button-hover-color:rgba(222,145,1,255);
--house-article-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

body {
    background-color:var(--secondarycolor) ;
    font-family: "Proxima Nova";
    display: flex;
    flex-direction: column;
    
}

.nav-bar {
    height: 60px;
}

nav {
    background-color: var(--primarycolor);
    color: var(--secundary-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em; 
}

nav ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    list-style-type: none;
}

.nav-list {
    position: absolute;
    right: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--secundary-text-color);
    list-style-type: none;
}


.logo {
   width: 100px;
   margin-bottom: 1px;
   margin-top: 5px;
   margin-left: -122px;
}

.menu {
    position: absolute;
    left: 0;
    padding-left: 5px;
}


h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -0.7rem;
    text-align: left;
    padding: 1em;
    font-size: 1.6em;
}

.button {
    padding-left: 5px;
    padding-bottom: 5px;
    
}
.button a {
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: var(--primarycolor);
    margin: 5px 5px auto;
    color: var(--secundary-text-color);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding-left: 5px;
    border-radius: var(--border-radius-buttons);
}

.button a:hover {
    background-color: var(--button-hover-color);
}


h2 {
    padding-left: 5.8em;
    text-align: left;
    margin-top: -6em;
    margin-bottom: 2em;
    font-size: large;
    font-weight: bold;
}

article {
    margin: 0.5em;
}


 .house {
    border-radius: 1.5em;
    box-shadow: var(--house-article-shadow);
    padding: 0.5em;
    margin-bottom: 1em;
 }
 
 .img-house {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1.5em;
 }

.info-house  {
    list-style: none;
    text-align: left;
    padding-left: 6.8em;
    margin-top: -17px;
    margin-bottom: -1px;
    padding-top: 0.2em;
    
}

.container {
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    background-color: white;
   }
   
   #chat-now {
    background-color: orange;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 40px;
    padding: 10px 40px;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    letter-spacing: 2px;
    z-index: 1;
   }


#form-wrapper{ 
    position: absolute;
    background: white;
    bottom: -100;
    right: 40px;
    width: calc(100% -80px);
    max-width: 450px;
    z-index: 2;
    transition: 0.5s ease-in-out;
    padding-top: 24px;
}

#form-wrapper .active{
    bottom: 0;
    transition: 0.5s ease-in-out;
}

#form-wrapper .close {
    position: absolute;
    left: 0;
    width: 100%;
    height: 24px;
    background: var(--primarycolor);
    top: 0;
}

#form-wrapper .close #close {
    position: absolute;
    font-size: 14px;
    color: white;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
}  

#form-wrapper form {
    padding:24px 32px;
}

#form-wrapper form p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
} 
 
#form-wrapper form .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
} 

 #form-wrapper form .form-group label {
    margin-bottom: 6px;   
}

#form-wrapper form .form-group input {
    margin-bottom: 6px;
} 

::placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
} 

#form-wrapper form .form-group .check{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 0;
    gap: 12px;
} 

 #form-wrapper form .form-group .check input {
    margin-top: 5px;
} 

 #form-wrapper form button {
    background-color: var(--primarycolor);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 0;
    cursor: pointer;
    letter-spacing: 2px;
}   



footer {
    background-color: var(--footer-color);
    margin-top: 20px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    
}

li a{
   text-decoration: none;
}

footer li {
    padding: 10px;
}

footer ul {
    list-style: none;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 10px;
}

/* mobiel large  */

@media (min-width:425px) {
   
        
        .house {
            border-radius: 1.5em;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            padding: 0.5em;
            margin-bottom: 0.5em;
         }

         article {
            padding: 3px;
         }
        
        
         .info-house  {
            list-style: none;
            text-align: left;
            padding-left: 6.7em;
            margin-top: -17px;
            margin-bottom: -1px;
            padding-top: 0.2em;
        }


        h2 {
            padding-left: 5.9em;
            text-align: left;
            margin-top: -6em;
            margin-bottom: 2em;
            font-size: large;
            font-weight: bold;
        }

        .logo {
            width: 100px;
            margin-bottom: 1px;
            margin-top: 5px;
            margin-left: -175px;
         }

         h1 {
            margin-left: 0.5rem;
            text-align: center;
        }
/*         
        .button {
            display: flex;
            justify-content:center;
            align-items: center;
        } */

        footer li {
            padding: 2px;
        
        }
    
         footer ul  {
            padding: 10px;
         }
       
} 



   /* tablet */

 @media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    article {
       margin: 0.5em;
       
    }
    
    .house {
        border-radius: 1.5em;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 0.5em;
        margin-bottom: 0.5em;
        width: 350px;
     }

     .logo {
        width: 100px;
        margin-bottom: 1px;
        margin-top: 5px;
        margin-left: -345px;
     }
     
     .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
    }

     footer {
        display: flex;
        flex-direction: row;
     
     }

     footer li {
        padding-left: 15px;

     }

 
    }

/* laptop */

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: center;
    }

    article {
        margin-left: 1em;
        /* padding: 3px;   */
    } 

    .house {
        border-radius: 1.5em;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 0.5em;
        margin-bottom: 0.5em;
        width: 350px;
     }
    
     .logo {
        width: 100px;
        margin-bottom: 1px;
        margin-top: 5px;
        margin-left: -363px;
     }

     .button {
        /* padding-left: 150px;  */
       display: flex;
       justify-content: center;
       align-items: center;
       padding-bottom: 5px;
    }

     footer {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        align-content: center;
        justify-content: center;
     }

     footer li {
        padding-left: 17px;
        
     }


}

@media (min-width: 1440px) {
    article {
        margin-left: 1em;
        /* padding: 3px */
    } 
    
     .logo {
        width: 100px;
        margin-bottom: 1px;
        margin-top: 5px;
        margin-left: -565px;
     }

    .button {
        display: flex;
        justify-content: center;
        align-items: center
    }
   
    footer li{
        padding: 10px;
    }

    footer ul {
        padding: 10px;
    }
}
