* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
--primarycolor: #F7A100;
--secondarycolor: white;
--text-color: #333333;
--footer-color: #CCCCCC;

}


body {
    background-color:var(--secondarycolor) ;
    font-family: 'proxima nova';
    display: flex;
    flex-direction: column;
}

.nav-bar {
    height: 60px;
}

nav {
    background-color: #F7A100;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em; 
}

nav ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    list-style-type: none;
}

.nav-list {
    position: absolute;
    right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    background-color: ;
}


.logo {
   width: 100px;
   margin-bottom: 1px;
   margin-top: 5px;
   margin-left: -122px;
}

.menu {
    position: absolute;
    left: 0;
    padding-left: 5px;
}


h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -0.7rem;
    text-align: left;
    padding: 1em;
    font-size: 1.6em;
}

.button {
    padding-left: 5px;
    padding-bottom: 3px;
  
    
}
.button-house  {
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: var(--primarycolor);
    margin: 5px 5px auto;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 5px;
   
}

 .button-list  {
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: var(--primarycolor);
    margin: 5px 5px auto;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 5px;
    
}
/* button hover aanpassen  */
/* #CCCCCC EDEDED
#999999 */


.button a:hover {
    background-color: rgba(222,145,1,255);
}

.button-list a:hover {
    background-color: rgba(222,145,1,255)
}

h2 {
    padding-left: 5.8em;
    text-align: left;
    margin-top: -6em;
    margin-bottom: 2em;
    font-size: large;
    font-weight: bold;
}

article {
    margin: 0.5em;
    padding-bottom: 1px;
    
}

/* verschillende huizen gebruiken */

 .house {
    border-radius: 1.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* box-shadow: #999999 0px 2px 2px 2px; */
    /* border-top: 2px solid var(--secondarycolor); */
    padding: 0.5em;
    margin-bottom: 1em;
 }
 
 .img-house {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1.5em;
 }

.info-house  {
    list-style: none;
    text-align: left;
    padding-left: 6.8em;
    margin-top: -16px;
    margin-bottom: 5px;
}

.ri-more-2-line {

}

.ri-star-line{
    padding-left: 260px;
    padding-bottom: -50px

}

footer {
    background-color: var(--footer-color);
    margin-top: 20px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    
}

li a{
   text-decoration: none;

}

footer ul {
    list-style: none;
    text-align: left;
    margin-top: 20px;
    padding-left: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
}

/* mobiel large  */

@media (min-width:425px) {
   
        
        .house {
            border-radius: 1.5em;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            padding: 0.5em;
            margin-bottom: 0.5em;
         }
         
         .img-house {
            /* width: 150px;
            height: 100px;
            object-fit: contain; */
            border-radius: 1.5em;
         }
        
         .info-house  {
            list-style: none;
            text-align: left;
            padding-left: 6.7em;
            margin-top: -16px;
            margin-bottom: 5px;
        }

        h2 {
            padding-left: 5.9em;
            text-align: left;
            margin-top: -6em;
            margin-bottom: 2em;
            font-size: large;
            font-weight: bold;
        }

        .logo {
            width: 100px;
            margin-bottom: 1px;
            margin-top: 5px;
            margin-left: -175px;
         }

         h1 {
            margin-left: 0.5rem;
           
            
        }
       
} 



   /* tablet */

 @media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    article {
        margin-left: 1em;
        margin-bottom: 3px; 
        
    }
    
    .house {
        border-radius: 1.5em;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 0.5em;
        margin-bottom: 0.5em;
        width: 350px;
     }

     .logo {
        width: 100px;
        margin-bottom: 1px;
        margin-top: 5px;
        margin-left: -345px;
     }
     
     .button {
        padding-left: 22px; 
    }

     footer {
        display: flex;
        flex-direction: row;
     }

    }

/* laptop */

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    h1 {
        text-align: center;
    }

    article {
        margin-left: 1em;
        padding: 3px;  
    } 

    .house {
        border-radius: 1.5em;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 0.5em;
        margin-bottom: 0.5em;
        width: 350px;
     }
    
     .logo {
        width: 100px;
        margin-bottom: 1px;
        margin-top: 5px;
        margin-left: -363px;
     }

     .button {
        padding-left: 150px; 
       
    }

    
     footer {
        display: flex;
        flex-direction: row;
     }
}

@media (min-width: 1440px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    article {
        margin-left: 1em;
        padding: 3px
    } 

    .house {
        border-radius: 1.5em;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 0.5em;
        margin-bottom: 0.5em;
        width: 350px;
     }
    
     .logo {
        width: 100px;
        margin-bottom: 1px;
        margin-top: 5px;
        margin-left: -565px;
     }

     .button {
        padding-left: 160px;
    }
   
     footer {
        display: flex;
        flex-direction: row;
       
     } 
}



